.contact {
    background-color: #EAF2FD;
}

.contact .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

    
}

.contact-form{
    padding-left: 2rem;
}

.contact-img {
    
    background-color: white;
    max-height: 100%;
    
}

.input-container {
    margin: 2rem auto;
}

.input {
    width: 100%;
    height: 3rem;
}

.input-message {
    height: 9rem;
}

.contact-title{
    font-weight: bold;
    text-align: left;
}

@media screen and (max-width: 1200px) {
    .contact .container {
        display: block;        
    }
    .contact-img {
        display: none;
    }
    .contact-form{
        padding-left: 0 ;
    }
    
  }