.nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;

}

header.container {
    padding: 0 10%;
    margin: 0 2rem;
}

.nav-list {
    display: inherit;
    justify-content: space-between;
    
}

.nav-list__item {
    margin-left: 1rem;

}

@media screen and (max-width: 768px) {
    header.container {
      margin: 2rem 2%;
      padding: 2rem 2rem;
    }
  
  }