.presentation {
    display: flex;
}

.presentation-text{
    padding-right: 1rem;
}

.presentation-title {
    font-size: 3.5rem;
    margin: 1rem 0;
}

.presentation-img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.presentation-description {
    margin: 1rem 0;
}

.presentation-list {
    display: flex;
}

.presentation-list__items {
    margin-right: 1rem;
}


@media screen and (max-width: 480px) {
    .presentation {

        flex-direction: column-reverse;
        padding-top: 0;
        margin-top: 0;
    }

    .presentation-list__items {
        display: flex;
        justify-content: space-between;
        margin-right: 0;
        font-size: 0.9rem;
    }


}

@media screen and (max-width: 768px) {

    .presentation-title {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .presentation-text{
        padding-right: 0;
    }

    .presentation-img{
        width: 145px;
        height: 145px;
    }
    .presentation-list {
        justify-content: space-between;

    }

  }